*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e3f3e3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.game{
    background-color: #b8ebd0;
    height:80vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vh ;
}
h1{
    background-color: #8d5a97;
    color: white;
    font-size: 6vmin;
}
.box{
    height: 18vh;
    width: 8vw; 
    border-radius: 5vmin;
    border: 0.2vmin solid #8d5a97;
    background-color: white;   
    font-size: 9vmin;
    text-decoration: bold;
}
h2{
    font-size: 6vmin;
    background-color: rgb(203, 242, 203);
    color: green;
    padding: 2vmin;
}
.reset,#newGame{
    height: 8vh;
    width: 14.5vw;
    font-size: 6vmin;
    border:none;
    background-color:#8d5a97;
    color: white;
    text-decoration: bold;
}
.reset:hover{
    background-color: #9112aa;
}
#newGame:hover{
    background-color: #9112aa;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    
}
#hideID{
    height:100vh;     
}
.hide{
    display: none;    
}